body {
  text-align: center;
  line-height: 2;
  background-image: url("y-so-serious-white.png");
  /* background-size: cover; */
}
article.main {
}

div.checkbox {
  text-align: left;
  /* padding-left: 10%; */
  display: inline-block;
}
